In [5]:
% matplotlib inline
from shapely.geometry import *
import fiona
import pandas as pd
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt

In [8]:
pols = fiona.open('1_data/taz/taz_shp/riyadh_taz.shp')

In [9]:
df = pd.DataFrame([pol['properties'] for pol in pols])

In [10]:
df.head()

,DiMeter,TAZ,dist_id,f_nonsaudi,f_saudi,m_nonsaudi,m_saudi,size_group,sq_km,tt_nonsaud,tt_pop,tt_saudi
0,1836.821151,700,NaN,25,69,29,69,NaN,2.649870,54,192,138
1,1661.455853,631,0,7,8,10,8,0,2.168046,17,33,16
2,3104.840282,4,NaN,106,1160,2427,1696,NaN,7.571282,2533,5389,2856
3,2277.530553,634,151,1127,1379,1377,1762,NaN,4.073984,2504,5645,3141
4,3408.592036,7,0,43,29,77,33,0,9.125170,120,182,62

In [12]:
df.sum()

DiMeter       1736424.940217
TAZ           1113778.000000
dist_id        134366.000000
f_nonsaudi     901690.000000
f_saudi       1652192.000000
m_nonsaudi    1346882.000000
m_saudi       1865342.000000
size_group         30.000000
sq_km            5915.050312
tt_nonsaud    2248572.000000
tt_pop        5766107.000000
tt_saudi      3517534.000000
dtype: float64